<template>

 <div v-show="event == true"
    id="e1"
    style="width: 1000px; margin: auto;"
    class="grey lighten-3"
  >
  <v-card>
    <h1 >Calendar</h1>
    <v-layout>
      <v-flex d-flex xs3>
        <v-card>
          <v-btn color="warning" 
          block= true 
          style = "height: 50px" 
          margin-top = "50px">+ Create Event</v-btn>
          <p class="text-sm-centerlklk" margin-top = "60px">Drag and drop you event</p>
          <p class="text-sm-left" margin-top = "60px"></p>
          <v-btn color="deep-purple accent-4
" 
          block= true 
          style = "height: 20px" 
          margin-top = "50px">My Event 1</v-btn>
          <v-btn color="blue" 
          block= true 
          style = "height: 20px" 
          margin-top = "50px">My Event 2</v-btn>
          <v-btn color="red" 
          block= true 
          style = "height: 20px" 
          margin-top = "50px">My Event 3</v-btn>
          <v-btn color="pink" 
          block= true 
          style = "height: 20px" 
          margin-top = "50px">My Event 3</v-btn>
        </v-card>

      </v-flex>
      <v-flex d-flex xs12>
        <v-card>
          <v-container
          fluid
          id="scroll-target"
          style="max-height: 500px"
          class="scroll-y"
          margin-top = 50px
          >
          <v-layout
          v-scroll:#scroll-target="onScroll"
          column
          >
          <v-card height="60px" flat color = "indigo darken-4
">
            <v-bottom-nav
             :active.sync="bottomNav"
             :value="true"
             absolute
             color="transparent"
             >
             <spacer></spacer>
               <v-btn
             color="teal"
             flat
             value="recent"
             >
               <span>Month</span>
             </v-btn>
             <v-btn
             color="teal"
             flat
             value="recent"
             >
               <span>WEEK</span>
             </v-btn>
             <v-btn
             color="teal"
             flat
             value="recent"
             >
               <span>Day</span>
             </v-btn>
             <v-btn
             
             color="teal"
             flat
             value="recent"
             @click.stop= "dialog = !dialog">
               <span>List</span>
             </v-btn>
             <v-dialog
      v-model="dialog"
      width="500"
    >
      

      <v-card>
        

        <v-card width = "400px">
          <v-flex xs7 offset-xs0  >
                      <v-card width = "500px">
                         <v-toolbar color="cyan" dark>
                        <v-toolbar-title>List Of events</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon>
                          <v-icon>search</v-icon>
                        </v-btn>
                      </v-toolbar>
                      <v-list two-line>
                        <template v-for="(item, index) in items">
                          <v-subheader
                          v-if="item.header"
                          :key="item.header"
                          >
                            {{ item.header }}
                          </v-subheader>
                          <v-divider
                          v-else-if="item.divider"
                          :inset="item.inset"
                          :key="index"
                          ></v-divider>
                          <v-list-tile
                          v-else
                          :key="item.title"
                          avatar
                          @click=""
                          >
                            
                            <v-list-tile-content>
                              <v-list-tile-title v-html="item.title"></v-list-tile-title>
                              <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </template>
                      </v-list>
                      </v-card>
                     
                    
                   </v-flex>
        </v-card>

       

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="dialog = false"
          >
            Back
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

             </v-bottom-nav>
          </v-card>
                 
          <v-date-picker
          full-width = true
          style = "height: 500px"
          no-title = true
          v-model="date"
          margin-top = "500px"
          >
            
          </v-date-picker>
        </v-layout>
      </v-container>
    </v-card>
  </v-flex>
</v-layout>

    </v-card>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        items: [
          {
            title: 'My Event 1',
            subtitle: "<span class='text--primary'>Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?"
          },
          { divider: true, inset: true },
          {
            title: 'My Event 2>',
            subtitle: "<span class='text--primary'>to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend."
          },
          { divider: true, inset: true },
          {
            title: 'My Event3',
            subtitle: "<span class='text--primary'>Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?"
          }
        ],
        event: true,
        onScroll: false,
        hover: false,
        dialog: false
      }
    }
  }
</script>
