<template>
  <v-layout row wrap>
 

    <div v-show="event == true"
    id="e1"
    style="width: 1300px; margin: auto;"
    class="grey lighten-3"
  >
    <v-card>
      <v-container
        fluid
        style="min-height: 0;"
        grid-list-lg
      >
      <h1 >Dashboard 1</h1>
        <v-layout>
          <v-flex d-flex xs3>
            <v-card :hover="!hover" color="green darken-3" class="white--text">
              <v-container fluid grid-list-lg v-on:click="say('This button works. Click OK to exit.')">
                <v-layout row>
                  <v-flex >
                    <v-icon class="mb-1" color="white">person</v-icon>
                    <span class="mt-5 mb-5 subheading">Active Employees</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex d-flex xs3>
            <v-card :hover="!hover" color="cyan darken-2" class="white--text">
              <v-container fluid grid-list-lg  @click.stop="dialog = !dialog">
                <v-layout row>
                  <v-flex >
                    <v-icon color="white">person_add</v-icon>
                    <span class="mt-5 mb-5 subheading">New Employees</span>
    <v-dialog v-model="dialog" width="800px">
      <v-card>
        <v-card-title
          class="grey lighten-4 py-4 title"
        >
          Register New Employee
        </v-card-title>
         <v-stepper v-model="e1">
           
        <v-stepper-header>
          <v-stepper-step :complete="e1 > 1" step="1"  @click.native="e1 = 1">Step 1</v-stepper-step>
          <v-stepper-step :complete="e1 > 2" step="2"  @click.native="e1 = 2">Step 2</v-stepper-step>
          <v-stepper-step step="3"  @click.native="e1 = 3">Step 3</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>

            <v-stepper-content step="1">
              <v-card color="grey lighten-3" class="mb-5" height="440px">
                  <v-card-title>
                    <span class="headline">Employee Information</span>
                  </v-card-title>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12>
                            <v-text-field label="Full Name"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="SSS No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Department"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Employee No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Tin No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Date Hired"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Cash Card No."></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Working Days"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Employee Salary"></v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                  </v-card>
                 
              <v-btn color="primary" @click.native="e1 = 2">Continue</v-btn>
              <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
            </v-stepper-content>

          <v-stepper-content step="2">
            <v-card color="grey lighten-3" class="mb-5" height="760px">        <v-card-title>
              <span class="headline">Earnings</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout row wrap>
                  <v-flex xs12 sm6>
                    <v-text-field label="No. Overtime Hours"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field label="Amount"></v-text-field>
                  </v-flex>

                  <v-flex lg12>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Regular Holiday</span>
                    </v-card-title>
                  </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Overtime Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>
                      
                  <v-flex lg12>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Speacial Holiday</span>
                    </v-card-title>
                  </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Overtime Hours"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>

                  <v-flex lg12>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Employer Contribution</span>
                    </v-card-title>
                  </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="SSS Premium"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="philConhealth"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="HDMF Premium"></v-text-field>
                      </v-flex>
                    <v-card-title>
                      <span class="subheading" style="margin-left: -20px;">Total Benefits</span>
                    </v-card-title>
                      <v-flex xs12>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
          <v-btn color="primary" @click.native="e1 = 3">Continue</v-btn>
          <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
          </v-stepper-content>

          <v-stepper-content step="3">
              <v-card color="grey lighten-3" class="mb-5" height="850px">
                <v-card-title>
                  <span class="headline">Deduction</span>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout row wrap>
                      <v-flex xs12 sm6>
                        <v-text-field label="No. Of Absent"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field label="Amount"></v-text-field>
                      </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="No. Of Holidays" ></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Amount" ></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="No. of Late"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Amount" ></v-text-field>
                          </v-flex>

                      <v-flex lg12>
                        <v-card-title>
                          <span class="subheading" style="margin-left: -20px;">Employee Contribution</span>
                        </v-card-title>
                      </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="SSS Contribution"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Philhealth Contribution"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="HDMF Contribution"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field label="Cash Advance" ></v-text-field>
                          </v-flex>
                        <v-card-title>
                          <span class="subheading" style="margin-left: -20px;">Total Earnings:</span>
                        </v-card-title>
                          <v-flex xs12>
                            <v-text-field label="Amount"></v-text-field>
                          </v-flex>
                        <v-card-title>
                          <span class="subheading" style="margin-left: -20px;">Total Deductions:</span>
                        </v-card-title>
                          <v-flex xs12>
                            <v-text-field label="Amount" ></v-text-field>
                          </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            <v-btn color="primary">Save</v-btn>
            <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
      </v-card>
    </v-dialog>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex d-flex xs3>
            <v-card :hover="!hover" color="purple" class="white--text">
              <v-container fluid grid-list-lg v-on:click="say('This button works. Click OK to exit.')">
                <v-layout row>
                  <v-flex >
                    <v-icon class="mb-1" color="white">supervisor_account</v-icon>
                    <span class="mt-5 mb-5 subheading">Applicants</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex d-flex xs3>
            <v-card :hover="!hover" color="red darken-2" class="white--text">
              <v-container fluid grid-list-lg v-on:click="say('This button works. Click OK to exit.')">
                <v-layout row>
                  <v-flex >
                    <v-icon class="mb-1" color="white">person</v-icon>
                    <span class="mt-5 mb-5 subheading">Inactive Employees</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>
        <br>
        <br>
<v-layout>  
<!-- New Employees -->
  <v-flex d-flex xs4>
    <v-card>
      <v-container
      fluid
      id="scroll-target"
      style="max-height: 330px;"
      class="scroll-y"
        >
       <v-layout
         v-scroll:#scroll-target="onScroll"
         column
       >
        <v-list three-line>
          <template v-for="(employee, index) in employees">
            <v-subheader v-if="employee.header">{{ employee.header }}</v-subheader>
            <v-divider v-else-if="employee.divider" :inset="employee.inset" :key="index"></v-divider>
            <v-list-tile v-else @click="">
              <v-list-tile-avatar class="pt-3">
                <img :src="employee.src">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="employee.name"></v-list-tile-title>
                <v-list-tile-sub-title v-html="employee.position"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
       </v-layout>
    </v-container>
    </v-card>
  </v-flex>
<!-- Pending Requirements -->
  <v-flex d-flex xs4>
    <v-card>
      <v-container
      fluid
      id="scroll-target"
      style="max-height: 330px"
      class="scroll-y"
        >
       <v-layout
         v-scroll:#scroll-target="onScroll"
         column
       >
        <v-list three-line>
          <template v-for="(requirement, index) in requirements">
            <v-subheader v-if="requirement.header" :key="requirement.header">{{ requirement.header }}</v-subheader>
            <v-divider v-else-if="requirement.divider" :inset="requirement.inset" :key="index"></v-divider>
            <v-list-tile v-else :key="requirement.name" avatar @click="">
              <v-list-tile-avatar>
                <img :src="requirement.src">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="requirement.name"></v-list-tile-title>
                <v-list-tile-sub-title style="color: #E57373;" v-html="requirement.pending"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
       </v-layout>
    </v-container>
    </v-card>
  </v-flex>
<!-- Calendar Hollidays -->
  <v-flex d-flex xs4>
    <v-card>
      <v-container
      fluid
      id="scroll-target"
      style="max-height: 330px"
      class="scroll-y"
   >
     <v-layout
       v-scroll:#scroll-target="onScroll"
       column
     >
     <v-list three-line>
       <template v-for="(holliday, index) in hollidays">
       <v-subheader v-if="holliday.header" :key="holliday.header">{{ holliday.header }}</v-subheader>
       <v-divider v-else-if="holliday.divider" :inset="holliday.inset" :key="index"></v-divider>
         <v-list-tile v-else :key="holliday.event" avatar @click="">
           <v-list-tile-content>
           <v-list-tile-title v-html="holliday.event"></v-list-tile-title>
           <v-list-tile-sub-title v-html="holliday.date"></v-list-tile-sub-title>
           </v-list-tile-content>
         </v-list-tile>
       </template>
     </v-list>
     </v-layout>
    </v-container>
  </v-card>
 </v-flex>
</v-layout>
<br>
<!-- Graph -->
<charts></charts>
<v-layout row wrap>
  <v-flex d-flex xs6>
    <v-card :hover="!hover" class="ml-3 mx-4">
       <v-card-title>This Year</v-card-title>
      <bar-chart
        :chart-data="barChartData"
        :height="250">
      </bar-chart>
    </v-card>
  </v-flex>
  <v-flex d-flex xs6>
        <v-card :hover="!hover" class="ml-3 mx-4">
           <v-card-title>Designation</v-card-title>
          <pie-chart
            :chart-data="pieChartData"
            :height="250">
          </pie-chart>
        </v-card>
  </v-flex>
</v-layout>
      </v-container>
    </v-card>
  </div>

 
  </v-layout>
</template>

<script>
  export default {
    data: () => {
      return {
        dialog: false,
        e1: null,
        employees: [
          { header: 'New Employee' },
          { src: require('@/assets/profile.png'), name: 'CJ Rosatace', position: 'Programmer' },
          { divider: true, inset: true },
          { src: require('@/assets/male.png'), name: 'Kent Fueconcillo', position: 'Programmer' },
          { divider: true, inset: true },
          { src: require('@/assets/profile.png'), name: 'Rachel Ann Navarro', position: 'Secretary' },
          { divider: true, inset: true },
          { src: require('@/assets/chris.jpg'), name: 'Chris Stephen Abad', position: 'Mercenary' },
          { divider: true, inset: true },
          { src: require('@/assets/ian.jpg'), name: 'Ian King Jumamoy', position: 'Gwapong Accountant' },
          { divider: true, inset: true },
          { src: require('@/assets/bryan.jpg'), name: 'Bryan John Tindoc', position: 'Support - Roamer' },
          { divider: true, inset: true },
          { src: require('@/assets/john.jpg'), name: 'John Rodel Tinampay', position: 'Designer' },
          { divider: true, inset: true },
          { src: require('@/assets/jas.jpg'), name: 'Kim Jasper Reyes', position: 'Model' }
        ],
        requirements: [
          { header: 'Pending Requirements' },
          { src: require('@/assets/chris.jpg'), name: 'Chris Stephen Abad', pending: 'SSS, Pag-ibig, PhilHealth' },
          { divider: true, inset: true },
          { src: require('@/assets/ian.jpg'), name: 'Ian King Jumamoy', pending: 'SSS, PhilHealth' },
          { divider: true, inset: true },
          { src: require('@/assets/bryan.jpg'), name: 'Bryan John Tindoc', pending: 'Pag-ibig, PhilHealth' }
        ],
        hollidays: [
          { header: 'Calendar Hollidays' },
          { event: 'New Year Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>January 1, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'New Year Holiday<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>January 2, 2018</span> &mdash; Regular Holiday" },
          { event: 'Iking`s Birthday<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>January 6, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { divider: true },
          { event: 'Chinese New Year<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>Febuary 16, 2018</span> &mdash; Special Non-working day" },
          { divider: true },
          { event: 'People Power Revolution<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>February 25, 2018</span> &mdash; Special Holiday" },
          { divider: true },
          { event: 'Maundy Thursday<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>March 29, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Good Friday<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>March 30, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Black Saturday<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>March 31, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Day of Valor<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>April 9, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Labor Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>May 1, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Independence Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>June 12, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Eid`l fitropo<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>June 15, 2018</span> &mdash; The Feast of Ramadan" },
          { divider: true },
          { event: 'Ninoy Aquino Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>August 21, 2018</span> &mdash; Special Non-working Holiday" },
          { divider: true },
          { event: 'National Heroes Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>August 27, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'All Saints Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>November 1, 2018</span> &mdash; Special Non-working Holiday" },
          { divider: true },
          { event: 'Bonifacio Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>November 30, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Christmas Eve<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>December 24, 2018</span> &mdash; Additional Special Non-working Holiday" },
          { divider: true },
          { event: 'Christmas Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>December 25, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'Rizal Day<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>December 30, 2018</span> &mdash; Regular Holiday" },
          { divider: true },
          { event: 'New Years Eve<span class="grey--text text--lighten-1"></span>', date: "<span class='text--primary'>December 31, 2018</span> &mdash; Special Non-working Holiday" }
        ],
        event: true,
        onScroll: null,
        hover: false
      }
    },
    methods: {
      say: function (message) {
        alert(message)
      },
      update (payload) {
        this.event = payload
                  // },
                  // payroll () {
                  //   this.$eventHub.$emit(PAYROLL, true)
      }
    },
    computed: {
      barChartData: function () {
          // Transforms API data into the chart data format
        return {
          labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
          datasets: [
            {
              label: 'Income',
              data: [13, 19, 25, 28, 36, 41, 43, 51, 55, 61, 66, 75],
              backgroundColor: [
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB',
                '#36A2EB'
              ]
            },
            {
              label: 'Expenses',
              data: [15, 23, 26, 32, 39, 41, 47, 54, 58, 65, 69, 80],
              backgroundColor: [
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384'
              ]
            }
          ]
        }
      },
      pieChartData: function () {
        return {
          labels: ['Inusrance', 'Miscellaneous', 'Payroll'],
          datasets: [
            {
              backgroundColor: [
                '#41B883',
                '#FF6384',
                '#00D8FF'
              ],
              data: [40, 20, 80]
            }
          ]
        }
      }
    }
  }
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed');
h1, span{
  font-family: 'Roboto Condensed', sans-serif;
}
.dialog{
  box-shadow: 0px 0px 40px black;
  margin: auto;
}

</style>

