<template>
	<div>
		
		<app-footer></app-footer>
		 <app-toolbar></app-toolbar>
		

	</div>

</template>

<script>
	import AppFooter from './Appfooter'
	import AppToolbarr from './AppToolbar'

	export default{
		components:{AppFooter, AppToolbar}
	}
</script>
