<template>
  <v-app>
    <v-layout row wrap>
     <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app>
      <v-list dense>
          <v-list-tile
          v-if 
          :key="" 
          @click="event()"
          >
            <v-list-tile-action>
              <v-icon>dashboard</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                <router-link class="link" to="/">
                Dashboard
              </router-link>
              </v-list-tile-title>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon>timeline</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                <router-link class="link" to="/records">
                Reports
                </router-link>
              </v-list-tile-title>
        </v-list-tile>
          
          <v-list-tile v-if :key="" @click="event3()">
              <v-list-tile-action>
                <v-icon>person</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>
                Employees
              </v-list-tile-title>
          </v-list-tile>
          <v-list-tile v-if :key="" @click="event2()">
            <v-list-tile-action>
              <v-icon>money</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                Payroll
              </v-list-tile-title>
          </v-list-tile>
          <v-list-tile v-if :key="" @click="event4()">
            <v-list-tile-action>
              <v-icon>person_add</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                Recruitment
              </v-list-tile-title>
          </v-list-tile>
          <v-list-tile >
            <v-list-tile-action>
              <v-icon>live_help</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                <router-link class="link" to="/calendar">
                Calendar
              </router-link>
              </v-list-tile-title>
          </v-list-tile>
          <v-list-tile v-if :key="" @click="event6()">
            <v-list-tile v-if :key="" @click="event4()">
            <v-list-tile-action>
              <v-icon>live_help</v-icon>
            </v-list-tile-action>
              <v-list-tile-title>
                Help
              </v-list-tile-title>
          </v-list-tile>
        </v-list-tile>

      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="blue darken-3"
      dark
      app
      fixed>

      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Infosoft Studio</span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        prepend-icon="search"
        label="Search"
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
  </v-layout row wrap>
    
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: 'Inspire'
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  },
  name: 'App'
}
</script>
